{% extends "base_handicap.html" %}
        {%block javascript%}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> 
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js"></script>
            <script type="text/javascript" src="/stylesheets/add_score.js"></script>
        {%endblock%}
        {%block sidebar%}
        {%endblock%}
		{% block main_content %}
			<!-- insert the page content here -->
			<h1>
			{% if message %}
                {{message}}
            {%endif%}
			</h1>
            <span class="listing_title">Recently Featured Videos</span><br /><br />
            <table border="0" cellpadding="2" cellspacing="0">
            {% for video in videos %}
                {% if video.swfurl %}
                    <iframe width="560" height="315" src="{{video.swfurl}}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
               <br>
               <span class="video_category"><strong>{{video.category}}</strong></span>
               <span class="video_published"> | published on {{video.published_date}}</span>
               <br />
               <span class="video_keywords"><strong>Keywords:</strong> {{video.media_keywords}} </span><br />
               </td></tr>
               <tr><td height="20" colspan="2"><hr class="slight"/></tr>
            {% endfor %}
           </table></div>
			<br/>
			<br/>
			<br/>
        {%endblock%}